<p>Здравствуйте {{name}}</p>
<p>Пожалуйста перейтите по ссылке для восстановления доступа к учетной записи</p>
<a href="{{url}}"><button>Перейти</button></a>
<p>Пожалуйста не отвечайте на это сообщение, оно сформировано автоматически.</p>